@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --font-poppins: 'Poppins', sans-serif;
  --font-urbanist: 'Urbanist', sans-serif;
}

body {
  background-color: #f9fafe;
  font-family: var(--font-urbanist);
  overscroll-behavior: none;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-poppins);
  font-weight: 700;
}



/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
}

body {
  scrollbar-width: none;
}